/*
* Common Css 
*/
body {
  background: rgb(68, 105, 247);
  background: linear-gradient(
    238deg,
    rgba(68, 105, 247, 1) 0%,
    rgba(246, 91, 245, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.sider {
  width: 100%;
  height: 90vh;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
}

.dots {
  height: 17px;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}
.dot1,
.dot2,
.dot3 {
  height: 100%;
  width: 17px;
  border-radius: 50%;
  margin: 0 7px 0 0;
}
.dot1 {
  background-color: #ff605c;
}
.dot2 {
  background-color: #ffbd44;
}
.dot3 {
  background-color: #00ca4e;
}
.my-name {
  border-radius: 5px;
  padding: 0.6em 0;
  margin: auto;
  margin-bottom: 0.5em;
}
.uppertaskarea {
  display: flex;
  justify-content: center;
  height: 400px;
}
.taskarea {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  min-width: 55%;
  height: 90%;
}
.taskarea::-webkit-scrollbar {
  display: none;
}
.tasks {
  min-height: 3em;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0.6em;
  margin: 0.7em auto;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.task-update-delete {
  display: flex;
  align-items: center;
  margin-left: 0.7em;
}
.delete,
.update {
  font-size: 1.4rem;
  cursor: pointer;
}
.update span {
  color: #0D6EFD;
}
.cross span {
  color: #FFF;
}
.delete span {
  margin-left: 0.8em;
  color: #f12727;
}
.cross {
  margin-right: 20px;
}
.input-group.mb-3 {
  width: 90%;
  margin: auto;
}
button#button-addon2 {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
  color: #FFF;
  padding: .375rem 1.75rem;
}
.input-group input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}
.form-control:focus {
  color: #FFF;
  background-color: transparent;
  border: none;
  outline: 0;
  border-bottom: 1px solid #fff;
  box-shadow: none;
}
.input-group input::placeholder {
  color: #FFF;
}
.taskInput input[type="text"] {
  background: transparent;
  border: none;
  color: #FFF;
}
.todo-complete{
  border: 1px solid #00ca4e
}